extends layout

block content
    .container
      .row
        .col-sm
          
        .col-sm.mt-5
          h1= title
          p.mb-5 Welcome to #{title}
          button.btn.btn-primary.btn-lg(type='button') Let's do a survey!
          br
          a(href='#') I want to create a survey!
        .col-sm
     
          
          
