extends layout

block content
 .container   
   h1 Edit a Question 
   form(method="post")
    .input-group.mb-3
        input.form-control(name="title", value=question.title)
    .input-group.mb-3
        input.form-control(name="answer", value=question.answer)
    button.btn.btn-success(type="submit") Submit